# dependencies
node_modules/
.pnp
.pnp.js

# build
.next/
out/
build/

# production
.env
.env.local
.env.*.local

# prisma
dev.db
dev.db-journal
dev.db-wal
dev.db-shm
prisma/dev.db
prisma/dev.db-journal
prisma/dev.db-wal
prisma/dev.db-shm

# misc
.DS_Store
*.tsbuildinfo
next-env.d.ts
